* {
  margin: 0;
  padding: 0;
  font-family: "Genos", sans-serif;
}

html {
  background: #1e1a20;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  padding-left: 10%;
  padding-right: 10%;
}
.section div {
  font-size: 2.5vmin;
}
.section h1 {
  font-size: 8vmin;
  text-transform: uppercase;
}
.section h2 {
  font-size: 5vmin;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section h2 small {
  font-size: 2vmin;
}
.section .sub-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section .sub-section div {
  width: 47%;
}
.section .sub-section .image {
  width: 600px;
  height: 400px;
  border: 10px solid white;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: yellow;
}

section:nth-child(even) {
  align-items: flex-start;
}

@media only screen and (max-width: 1600px) {
  .section {
    height: auto;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .section .sub-section {
    flex-wrap: wrap;
  }
  .section .sub-section div {
    width: 100%;
  }
  .section .sub-section .image {
    display: none;
  }

  canvas {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .section {
    padding: 0 7%;
    display: block;
    margin-bottom: 30px;
    height: auto;
  }
  .section .sub-section {
    display: block;
  }
  .section div {
    font-size: 20px;
  }
  .section h1 {
    font-size: 40px;
  }
  .section h2 {
    font-size: 30px;
  }
  .section h2 small {
    font-size: 20px;
  }
}
